.nav {
  width: 100%;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overlay {
  width: 100%;
}

.name {
  font-size: 2rem;
  font-weight: 900;
  font-family: "MA";
}
.nav {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circles {
  display: inline-flex;
  justify-content: center;
  rotate: 0deg;
  transition: 0.5s;
}
.kid1 {
  position: relative;
}

.kid1,
.kid2 {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  animation: coaxial;
  position: relative;
}

.kid1 {
  bottom: 7px;
  left: 25%;
}

.kid2 {
  top: 25%;
  filter: drop-shadow(0px 0px 2rem Majenda);
  right: 7px;
}

ul.nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  list-style: none;
  font-size: 120%;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 15%;
}
.image {
  max-width: 26.75rem;
  width: 100%;
  border-radius: 50%;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 50rem;
  bottom: 1rem;
  position: relative;
  filter: saturate(0.7) blur(0px);
  left: 1rem;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.76rem 1rem;
}
.tasklay {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 1.4rem 0;
  column-gap: 15%;
  justify-content: center;
}
.headquote {
  font-family: "MA";
  font-size: 300%;
  margin: 0rem 0 4rem;
  letter-spacing: 0.04em;
}
.notification {
  position: absolute;
  background-color: var(--wrappers);
  color: var(--btext);
  padding: 8px 18px;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  top: 10.5rem;
  font-family: "MA";
  z-index: 1;
}
.notification.active {
  filter: opacity(1);
}
.nav p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details a {
  color: #d994de;
  font-weight: 600;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}
.details a:hover {
  color: #de94a2;
}
.image,.pomo {
  padding: 25px;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--wrappers), transparent);
  animation-name: lmao;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes lmao {
  0% {
    background: linear-gradient(0deg, var(--wrappers), transparent);
  }
  1% {
    background: linear-gradient(3.6deg, var(--wrappers), transparent);
  }
  2% {
    background: linear-gradient(7.2deg, var(--wrappers), transparent);
  }
  3% {
    background: linear-gradient(10.8deg, var(--wrappers), transparent);
  }
  4% {
    background: linear-gradient(14.4deg, var(--wrappers), transparent);
  }
  5% {
    background: linear-gradient(18deg, var(--wrappers), transparent);
  }
  6% {
    background: linear-gradient(21.6deg, var(--wrappers), transparent);
  }
  7% {
    background: linear-gradient(25.2deg, var(--wrappers), transparent);
  }
  8% {
    background: linear-gradient(28.8deg, var(--wrappers), transparent);
  }
  9% {
    background: linear-gradient(32.4deg, var(--wrappers), transparent);
  }
  10% {
    background: linear-gradient(36deg, var(--wrappers), transparent);
  }
  11% {
    background: linear-gradient(39.6deg, var(--wrappers), transparent);
  }
  12% {
    background: linear-gradient(43.2deg, var(--wrappers), transparent);
  }
  13% {
    background: linear-gradient(46.8deg, var(--wrappers), transparent);
  }
  14% {
    background: linear-gradient(50.4deg, var(--wrappers), transparent);
  }
  15% {
    background: linear-gradient(54deg, var(--wrappers), transparent);
  }
  16% {
    background: linear-gradient(57.6deg, var(--wrappers), transparent);
  }
  17% {
    background: linear-gradient(61.2deg, var(--wrappers), transparent);
  }
  18% {
    background: linear-gradient(64.8deg, var(--wrappers), transparent);
  }
  19% {
    background: linear-gradient(68.4deg, var(--wrappers), transparent);
  }
  20% {
    background: linear-gradient(72deg, var(--wrappers), transparent);
  }
  21% {
    background: linear-gradient(75.6deg, var(--wrappers), transparent);
  }
  22% {
    background: linear-gradient(79.2deg, var(--wrappers), transparent);
  }
  23% {
    background: linear-gradient(82.8deg, var(--wrappers), transparent);
  }
  24% {
    background: linear-gradient(86.4deg, var(--wrappers), transparent);
  }
  25% {
    background: linear-gradient(90deg, var(--wrappers), transparent);
  }
  26% {
    background: linear-gradient(93.6deg, var(--wrappers), transparent);
  }
  27% {
    background: linear-gradient(97.2deg, var(--wrappers), transparent);
  }
  28% {
    background: linear-gradient(100.8deg, var(--wrappers), transparent);
  }
  29% {
    background: linear-gradient(104.4deg, var(--wrappers), transparent);
  }
  30% {
    background: linear-gradient(108deg, var(--wrappers), transparent);
  }
  31% {
    background: linear-gradient(111.6deg, var(--wrappers), transparent);
  }
  32% {
    background: linear-gradient(115.2deg, var(--wrappers), transparent);
  }
  33% {
    background: linear-gradient(118.8deg, var(--wrappers), transparent);
  }
  34% {
    background: linear-gradient(122.4deg, var(--wrappers), transparent);
  }
  35% {
    background: linear-gradient(126deg, var(--wrappers), transparent);
  }
  36% {
    background: linear-gradient(129.6deg, var(--wrappers), transparent);
  }
  37% {
    background: linear-gradient(133.2deg, var(--wrappers), transparent);
  }
  38% {
    background: linear-gradient(136.8deg, var(--wrappers), transparent);
  }
  39% {
    background: linear-gradient(140.4deg, var(--wrappers), transparent);
  }
  40% {
    background: linear-gradient(144deg, var(--wrappers), transparent);
  }
  41% {
    background: linear-gradient(147.6deg, var(--wrappers), transparent);
  }
  42% {
    background: linear-gradient(151.2deg, var(--wrappers), transparent);
  }
  43% {
    background: linear-gradient(154.8deg, var(--wrappers), transparent);
  }
  44% {
    background: linear-gradient(158.4deg, var(--wrappers), transparent);
  }
  45% {
    background: linear-gradient(162deg, var(--wrappers), transparent);
  }
  46% {
    background: linear-gradient(165.6deg, var(--wrappers), transparent);
  }
  47% {
    background: linear-gradient(169.2deg, var(--wrappers), transparent);
  }
  48% {
    background: linear-gradient(172.8deg, var(--wrappers), transparent);
  }
  49% {
    background: linear-gradient(176.4deg, var(--wrappers), transparent);
  }
  50% {
    background: linear-gradient(180deg, var(--wrappers), transparent);
  }
  51% {
    background: linear-gradient(183.6deg, var(--wrappers), transparent);
  }
  52% {
    background: linear-gradient(187.2deg, var(--wrappers), transparent);
  }
  53% {
    background: linear-gradient(190.8deg, var(--wrappers), transparent);
  }
  54% {
    background: linear-gradient(194.4deg, var(--wrappers), transparent);
  }
  55% {
    background: linear-gradient(198deg, var(--wrappers), transparent);
  }
  56% {
    background: linear-gradient(201.6deg, var(--wrappers), transparent);
  }
  57% {
    background: linear-gradient(205.2deg, var(--wrappers), transparent);
  }
  58% {
    background: linear-gradient(208.8deg, var(--wrappers), transparent);
  }
  59% {
    background: linear-gradient(212.4deg, var(--wrappers), transparent);
  }
  60% {
    background: linear-gradient(216deg, var(--wrappers), transparent);
  }
  61% {
    background: linear-gradient(219.6deg, var(--wrappers), transparent);
  }
  62% {
    background: linear-gradient(223.2deg, var(--wrappers), transparent);
  }
  63% {
    background: linear-gradient(226.8deg, var(--wrappers), transparent);
  }
  64% {
    background: linear-gradient(230.4deg, var(--wrappers), transparent);
  }
  65% {
    background: linear-gradient(234deg, var(--wrappers), transparent);
  }
  66% {
    background: linear-gradient(237.6deg, var(--wrappers), transparent);
  }
  67% {
    background: linear-gradient(241.2deg, var(--wrappers), transparent);
  }
  68% {
    background: linear-gradient(244.8deg, var(--wrappers), transparent);
  }
  69% {
    background: linear-gradient(248.4deg, var(--wrappers), transparent);
  }
  70% {
    background: linear-gradient(252deg, var(--wrappers), transparent);
  }
  71% {
    background: linear-gradient(255.6deg, var(--wrappers), transparent);
  }
  72% {
    background: linear-gradient(259.2deg, var(--wrappers), transparent);
  }
  73% {
    background: linear-gradient(262.8deg, var(--wrappers), transparent);
  }
  74% {
    background: linear-gradient(266.4deg, var(--wrappers), transparent);
  }
  75% {
    background: linear-gradient(270deg, var(--wrappers), transparent);
  }
  76% {
    background: linear-gradient(273.6deg, var(--wrappers), transparent);
  }
  77% {
    background: linear-gradient(277.2deg, var(--wrappers), transparent);
  }
  78% {
    background: linear-gradient(280.8deg, var(--wrappers), transparent);
  }
  79% {
    background: linear-gradient(284.4deg, var(--wrappers), transparent);
  }
  80% {
    background: linear-gradient(288deg, var(--wrappers), transparent);
  }
  81% {
    background: linear-gradient(291.6deg, var(--wrappers), transparent);
  }
  82% {
    background: linear-gradient(295.2deg, var(--wrappers), transparent);
  }
  83% {
    background: linear-gradient(298.8deg, var(--wrappers), transparent);
  }
  84% {
    background: linear-gradient(302.4deg, var(--wrappers), transparent);
  }
  85% {
    background: linear-gradient(306deg, var(--wrappers), transparent);
  }
  86% {
    background: linear-gradient(309.6deg, var(--wrappers), transparent);
  }
  87% {
    background: linear-gradient(313.2deg, var(--wrappers), transparent);
  }
  88% {
    background: linear-gradient(316.8deg, var(--wrappers), transparent);
  }
  89% {
    background: linear-gradient(320.4deg, var(--wrappers), transparent);
  }
  90% {
    background: linear-gradient(324deg, var(--wrappers), transparent);
  }
  91% {
    background: linear-gradient(327.6deg, var(--wrappers), transparent);
  }
  92% {
    background: linear-gradient(331.2deg, var(--wrappers), transparent);
  }
  93% {
    background: linear-gradient(334.8deg, var(--wrappers), transparent);
  }
  94% {
    background: linear-gradient(338.4deg, var(--wrappers), transparent);
  }
  95% {
    background: linear-gradient(342deg, var(--wrappers), transparent);
  }
  96% {
    background: linear-gradient(345.6deg, var(--wrappers), transparent);
  }
  97% {
    background: linear-gradient(349.2deg, var(--wrappers), transparent);
  }
  98% {
    background: linear-gradient(352.8deg, var(--wrappers), transparent);
  }
  99% {
    background: linear-gradient(356.4deg, var(--wrappers), transparent);
  }
  100% {
    background: linear-gradient(360deg, var(--wrappers), transparent);
  }
}

.image img {
  top: 3px;
  position: relative;
}
