@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: MA;
  src: url(./assets/fonts/MontserratAlternates-SemiBold.ttf);
}
/* THemes */

.Dark {
  --background: #000000;
  --wrappers: #7b8293;
  --outcolor: #000000;
  --barcolors: #a39eaa;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --elmcolors: #ffffff;
  --ptext: #ffffff;
  --btext: #f4f4ff;
}
.Fantasy {
  --background: #451952;
  --wrappers: #ebbe99;
  --elmcolors: #dddcffe8;
  --outcolor: #662549;
  --barcolors: #8b94a53d;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #bb3e58;
}
.Obsidian {
  --background: #2e293a;
  --wrappers: #4b2e5d;
  --outcolor: #5b4965;
  --barcolors: #b6b1b1;
  --intext: #b39ac2;
  --headers: #ffffff;
  --elmcolors: #9f6fba;
  --ptext: #ffffff;
  --btext: #decfff;
}
.Lavender {
  --background: #480e52;
  --wrappers: #733b6b;
  --outcolor: #620b56;
  --barcolors: #e6c4e3;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --elmcolors: #f5a9f9;
  --ptext: #ffffff;
  --btext: #ff97f2;
}
.Magenda {
  --background: #5b2884;
  --wrappers: #b990dbbf;
  --elmcolors: #a277ff;
  --outcolor: #804bab;
  --barcolors: #dfd2ea;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #f5e9ffe8;
}
.Carbon {
  --background: #37435d;
  --wrappers: #878e9e;
  --elmcolors: #67b3f0e8;
  --outcolor: #525c70;
  --barcolors: #8b94a53d;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #fafafa;
}
.Pacific {
  --background: #082551;
  --wrappers: #677fa4;
  --outcolor: #355586;
  --barcolors: #9aaac3;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --elmcolors: #abacfcbd;
  --ptext: #ffffff;
  --btext: #ccd4e1;
}
.Chocolate {
  --background: #533b3b;
  --wrappers: #d3a89a;
  --outcolor: #603f00;
  --barcolors: #c5a7a7;
  --intext: #b6b1b1;
  --elmcolors: #c9c4a8;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #ffffff;
}
.Strawberry {
  --background: #f5d1e1;
  --wrappers: #e79ab2;
  --outcolor: #710b4d;
  --barcolors: #e2b9b9;
  --intext: #d4d4d4;
  --elmcolors: #bf3a87;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #e30286;
}
.Bush {
  --background: #116619;
  --wrappers: #79ac78;
  --elmcolors: #d0e7d2;
  --outcolor: #618264;
  --barcolors: #8b94a53d;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --ptext: #ffffff;
  --btext: #b0d9b1;
}
.Cream {
  --background: #3d0c11;
  --wrappers: #f78ca2;
  --outcolor: #af2a49;
  --barcolors: #f9dec9;
  --intext: #b6b1b1;
  --headers: #ffffff;
  --elmcolors: #ffffff;
  --ptext: #ffffff;
  --btext: #f4f4ff;
}
/* Themes above */
::-webkit-scrollbar {
  width: 0;
}
.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: none;
}

.Dark,
.Obsidian,
.Sunset,
.Lavender,
.Magenda,
.Chocolate,
.Pacific,
.Carbon,
.Cream,
.Fantasy,
.Bush,
.Strawberry {
  padding: 4% 4%;
  background: var(--background);
}
.todolist {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-direction: column;
  height: 15rem;
}
.todolist::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
  background-color: var(--wrappers);
  color: var(--outcolor);
}
.layo p {
  text-align: initial;
  line-height: 1.5rem;
  font-size: 85%;
  font-weight: 500;
  font-family: "MA";
}
.Todowrapper {
  border-radius: 23px;
  padding: 1rem 1rem;
  align-items: center;
  background: var(--wrappers);
  min-height: 23rem;
  display: flex;
  min-width: 39%;
  max-width: 40%;
  flex-direction: column;
}
.Todowrapper h1 {
  margin: 0rem 0 1rem;
  font-size: 2rem;
  color: var(--btext);
}
.trash {
  margin-left: 2rem;
}
input.input-todo {
  font-size: 18.5px;
  width: 75%;
  border: 2px solid var(--outcolor);
  background: var(--barcolors);
  font-weight: 600;
  padding: 2% 3%;
  color: var(--outcolor);
  border-radius: 11px 0 0 11px;
  font-family: "MA";
}

form.Todoform {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: row;
  width: 90%;
}

input.input-todo:focus {
  padding: 2% 3%;
  font-weight: 600;
  outline: none;
  stroke: none;
}
button.input-todo-button {
  background: var(--outcolor);
  color: var(--ptext);
  padding: 1% 2%;
  font-size: 17px;
  letter-spacing: 0.05em;
  font-family: "MA";
  border: 2px solid var(--outcolor);
  border-radius: 0 11px 11px 0;
  cursor: pointer;
}
.input-todo-button:focus {
  outline: none;
  stroke: none;
  cursor: pointer;
}
.completed {
  color: var(--intext);
  text-decoration: line-through;
}
.Todo {
  display: flex;
  color: var(--ptext);
  background: var(--outcolor);
  width: 80%;
  margin: 1%;
  border-radius: 20px;
  padding: 2% 3%;
  align-self: center;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.layo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.icons {
  cursor: pointer;
  font-size: 18px;
}
.themesbutton a {
  text-decoration: none;
  color: var(--outcolor);
  font-family: "MA";
  transition: all 0.4s ease;
  background: var(--btext);
  border: 3px solid var(--btext);
  padding: 8px 17px;
  border-radius: 32px;
}
.themesbutton a:hover {
  background: transparent;
  color: var(--btext);
  border: 3px solid var(--elmcolors);
}
.nav-links li a {
  text-decoration: none;
  display: flex;
  color: var(--elmcolors);
  cursor: pointer;
  transition: all 0.4s ease;
  flex-direction: column;
  align-items: center;
}
.nav-links li a::after {
  content: " ";
  width: 40%;
  height: 4px;
  background-color: var(--btext);
  border-radius: 2px;
  text-align: center;
  display: block;
  align-self: center;
  transition: all 0.4s ease;
}
.nav-links li a:hover::after {
  width: 30%;
}
.nav-links li a:hover {
  color: var(--wrappers);
}
.headquote {
  color: var(--elmcolors);
}
.name {
  color: var(--elmcolors);
}
.icons {
  padding: 4px;
  border-radius: 4px;
  transition: all ease 0.4s;
}
.icons:hover {
  background: var(--elmcolors);
  padding: 4px;
  border-radius: 4px;
}
.todolist::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}
.todolist::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--barcolors);
  cursor: pointer;
}
#tsparticles {
  z-index: 0;
  position: relative;
}
#task {
  z-index: 1;
  position: relative;
}
.nav {
  position: relative;
  z-index: 1;
}
.nhi,
.looks {
  display: none;
}

.footer {
  position: relative;
  z-index: 5;
  background-color: #000000;
}
.logo {
  color: #fff;
}
.footwrap {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftcul {
  display: flex;
  flex-direction: column;
  text-align: initial;
  align-items: flex-start;
}

.leftcul p {
  margin: 1% 9%;
  font-size: 107%;
  width: 45%;
  color: #fff;
  font-family: Poppins;
}

ul.foot-links {
  text-align: end;
  list-style: none;
  min-width: 14rem;
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 160%;
  row-gap: 0.5rem;
  margin-right: 5%;
  flex-direction: column;
  letter-spacing: 0.05em;
  align-items: flex-end;
}

.foot-links a {
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  right: 5rem;
}

.embed {
  width: 21px;
  border-radius: 49px;
  background: #00d5ffd1;
}

.downcul {
  font-size: 125%;
  margin: 1em;
  font-family: "MA";
  color: #ffffffa3;
}

.topbutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  color: black;
  text-align: center;
  padding: 9px;
  position: relative;
  left: 91rem;
  bottom: 5rem;
  cursor: pointer;
  z-index: 7;
}
.topbutton a img {
  width: 100%;
}

.topbutton a {
  display: contents;
}
.todobutton:hover {
  background-color: #000000;
}
.todobutton a img:hover {
  filter: invert(1);
}
.links ul li a {
  cursor: pointer;
  color: #ffc9ee;
  transition: all ease-in-out 0.3s;
}
.links ul li a:hover {
  color: #a277ff;
}

/* Mobiles */
@media (max-width: 1024px) and (min-width: 120px) {
  .nhi {
    display: contents;
    font-size: 180%;
    font-family: sans-serif;
    position: relative;
    font-weight: 800;
  }
  .footer p {
    display: contents;
    color: #000000;
    font-family: "MA";
  }
  .nav {
    display: none;
  }
  .task {
    display: none;
  }
  .App section {
    display: none;
  }
  .App {
    width: 100%;
    text-align: center;
    display: flex;
    height: 100vh;
    margin-top: 1rem;
    align-items: center;
    padding: 2rem;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .footera {
    display: none;
  }
}
